   html{
            font-size: 22px;
        }
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #333;
            color: whitesmoke;
        }